&NAM_PRODUCT
mode = 'hourly'
/
&NAM_OUTPUT_COMPRESSION
compression_level = 9
/
&NAM_TIME_AXIS
time_unit = 'days since {{timeslot_iso}}'
time_value = 0.0
time_calendar = 'standard'
/
&NAM_THREADS
n_threads = 5
max_size_in_Mbytes = 200
/
&NAM_ROOT_STR_ATTRS
Conventions = 'CF-1.6'
title = 'Global 10-day Daily Cycle Land Surface Temperature for {{timeslot_iso_tz}}'
institution = 'IPMA'
archive_facility = 'IPMA'
source = 'Data was derived from satellite imagery.'
history = '{{creation_date_iso_tz}} - Product generation;'
references = 'Product User Manual: http://land.copernicus.eu/global/documents/lst10/v1/pum\nValidation Report: http://land.copernicus.eu/global/documents/lst10/v1/vr\nProduct page: http://land.copernicus.eu/global/products/lst'
comment = '10-day Daily Cycle Land Surface Temperature ({{product_name}}) provides a statistical overview of the LST daily cycle over each 10-day compositing for every image pixel. {{product_name}} is useful for the scientific community, namely for those dealing with meteorological and climate models. Accurate values of LST are also of special interest in a wide range of areas related to land surface processes, including meteorology, hydrology, agrometeorology, climatology and environmental studies.'
name = '{{product_name}}'
long_name = '10-day Daily Cycle Land Surface Temperature'
identifier = '{{product_identifier}}'
date_created = '{{creation_date_iso_tz}}'
product_version = 'V1.2.1'
algorithm_version = 'V1.2.1'
time_coverage_start = '{{time_coverage_start_iso_tz}}'
time_coverage_end = '{{time_coverage_end_iso_tz}}'
platform = '{{america_satellite_name}}, {{europe_satellite_name}}, {{asia_satellite_name}}'
sensor = '{{america_satellite_sensor}}, {{europe_satellite_sensor}}, {{asia_satellite_sensor}}'
orbit_type = 'GEO'
processing_level = 'L4'
processing_mode = 'Near Real Time'
contacts = "Principal investigator (Researcher): isabel.trigo@ipma.pt; Instituto Portugu\xc3\xaas do Mar e da Atmosfera (IPMA); Rua C ao Aeroporto; Lisbon; 1749-077; Portugal (PT); IPMA website; http://www.ipma.pt\nOriginator (IPMA GIO-Global Land Help Desk): sandra.coelho@ipma.pt; Instituto Portugu\xc3\xaas do Mar e da Atmosfera (IPMA); Rua C ao Aeroporto; Lisbon; 1749-077; Portugal (PT); IPMA website; http://www.ipma.pt\nPoint of contact (GIO-Global Land Help Desk): helpdesk@vgt.vito.be; Flemish Institute for Technological Research (VITO); Boeretang 200; Mol; 2400; Belgium (BE); VITO website; http://land.copernicus.eu/global/\nOwner: ENTR-COPERNICUS-ASSETS@ec.europa.eu; European Commission Directorate-General for Enterprise and Industry (EC-DGEI); Avenue d'Auderghem 45; Brussels; 1049; Belgium (BE); EC-DGEI website; http://ec.europa.eu/enterprise/\nCustodian (Responsible): copernicuslandproducts@jrc.ec.europa.eu; European Commission Directorate-General Joint Research Center (JRC); Via E.Fermi, 249; Ispra; 21027; Italy (IT); JRC website; http://ies.jrc.ec.europa.eu"
parent_identifier = '{{parent_identifier}}'
inspire_theme = 'Orthoimagery'
gemet_keywords = 'solar radiation'
gcmd_keywords = 'SURFACE TEMPERATURE'
other_keywords = 'Global'
iso19115_topic_categories = 'climatologyMeteorologyAtmosphere, imageryBaseMapsEarthCover'
credit = '{{product_name}} products are generated by the Global Land Service of Copernicus, the Earth Observation programme of the European Commission. The research leading to the current version of the product has received funding from various European Commission Research and Technical Development programs. This product is based on MTSAT/HIMAWARI and GOES data, respectively owned by JMA and NOAA, and combined with the LST product from MSG under copyright EUMETSAT, provided by LSA-SAF.'
copyright = 'Copernicus Service Information {{year}}'
purpose = 'This product is first designed to fit the requirements of the Global Land component of Land Service of GMES-Copernicus. It can be also useful for all applications related to the environment monitoring.'
/
&NAM_MAX_BASE_ATTRS
max_valid_range = '-7000,8000'
max_FillValue = -8000
max_scale_factor = 0.01
max_add_offset = 273.15
/
&NAM_MAX_STR_ATTRS
long_name = 'LST Maximum'
units = 'Kelvin'
comment = 'Maximum LST values observed during the compositing period; one layer per hour.'
ancillary_variables = 'FRAC_VALID_OBS'
cell_methods = 'area:mean where land'
coverage_content_type = 'physicalMeasurement'
grid_mapping = 'crs'
/
&NAM_MIN_BASE_ATTRS
min_add_offset = 273.15
min_FillValue = -8000
min_scale_factor = 0.01
min_valid_range = '-7000,8000'
/
&NAM_MIN_STR_ATTRS
long_name = 'LST Minimum'
units = 'Kelvin'
comment = 'Minimum LST values observed during the compositing period; one layer per hour.'
ancillary_variables = 'FRAC_VALID_OBS'
cell_methods = 'area:mean where land'
coverage_content_type = 'physicalMeasurement'
grid_mapping = 'crs'
/
&NAM_MEDIAN_BASE_ATTRS
median_FillValue = -8000
median_valid_range = '-7000,8000'
median_scale_factor = 0.01
median_add_offset = 273.15
/
&NAM_MEDIAN_STR_ATTRS
long_name = 'LST Median'
units = 'Kelvin'
comment = 'Median LST values observed during the compositing period; one layer per hour.'
ancillary_variables = 'FRAC_VALID_OBS'
cell_methods = 'area:mean where land'
coverage_content_type = 'physicalMeasurement'
grid_mapping = 'crs'
/
&NAM_FRAC_VALID_OBS_BASE_ATTRS
frac_valid_obs_scale_factor = 0.01
frac_valid_obs_valid_range = '0,100'
frac_valid_obs_FillValue = -8000
/
&NAM_FRAC_VALID_OBS_STR_ATTRS
long_name = 'Fraction of Valid Observations'
comment = 'Fraction of valid observations as used to calculate the statistical parameters; one layer per hour.'
coverage_content_type = 'auxiliaryInformation'
cell_methods = 'area:mean where land'
grid_mapping = 'crs'
/
&NAM_GRIDMAPPING_DOUBLE_ATTRS
inverse_flattening = 298.257223563
longitude_of_prime_meridian = 0.0
semi_major_axis = 6378137.0
/
&NAM_GRIDMAPPING_STR_ATTRS
grid_mapping_name = 'latitude_longitude'
/
